*.bc
*.o
/autom4te.cache
/*.out
/scp
/ssh
/sshd
/sftp
/sftp-server
/ssh-add
/ssh-agent
/ssh-keygen
/ssh-keyscan
/ssh-rand-helper
/ssh_prng_cmds
/config.h
/config.h.in
/config.status
/configure
/libssh.a
/openbsd-compat/libopenbsd-compat.a
/soaap-output.json
/sshd.soaap
Makefile
